.nav-style {
  background-color: rgb(31, 34, 38);
}

#nav-logo {
  font-size: 25px;
  color: white;
}

#nav-user-toolbar {
  background-color: rgb(237, 237, 237);
  padding: 5px;
  border-radius: 5px;
}

#nav-user-toolbar:hover {
  cursor: pointer;
}
