.nav-link {
  font-size: 17px;
}

.nav-style {
  background-color: rgb(31, 34, 38);
  height: 50px;
}

#nav-logo {
  font-size: 25px;
  color: white;
  padding: 0px;
  margin-left: 10px;
}

#nav-user-toolbar {
  background-color: rgb(237, 237, 237);
  padding: 5px;
  border-radius: 5px;
}

#nav-user-toolbar:hover {
  cursor: pointer;
}

#nav-link-color {
  color: rgb(210, 213, 219);
}

#nav-link-color:hover {
  color: rgb(250, 253, 259);
}

.navbar {
  padding: 0 !important;
}
